# Pluggy Open Finance
PLUGGY_CLIENT_ID=
PLUGGY_CLIENT_SECRET=

# OpenRouter LLM
OPENROUTER_API_KEY=

# Supabase (use o connection string no modo "pooler" para Prisma)
DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres
